

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascript/pages.js" charset="utf-8"></script>

</script>
</body>

<footer>
  Copyright 2019 Jhann Santiago
</footer>

</html>
