<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <!-- NEW BUTTON CREATE NEW LIST -->
<div class = "createNew" id = "createNewID">
  <a class = "createNewBtn" href="/createNew">Create Custom List!</a>
  <!-- <h1><%= listTitle %></h1> -->
</div>
